#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

%:
	dh --with bash-completion --with systemd $@

override_dh_auto_clean:
	rm -rf build

EXTRA_CONF =
EXTRA_CONF += -D CMAKE_INSTALL_PREFIX=/usr
EXTRA_CONF += -D RDTS_CONSENT=IMPLICIT
EXTRA_CONF += -DBUILD_GUI=ON
EXTRA_CONF += -D WITH_QT_VERSION=6
EXTRA_CONF += -DBUILD_UTIL=OFF
EXTRA_CONF += -DWITH_BDB=ON
EXTRA_CONF += -DWITH_MINIUPNPC=ON
EXTRA_CONF += -DWITH_USDT=ON
EXTRA_CONF += -DWITH_ZMQ=ON
EXTRA_CONF += -D INSTALL_MAN=OFF  # let debhelper handle them

ifeq ($(shell g++ -dumpversion),9)
	# Needed on Ubuntu focal to avoid buggy GCC 9
	# See also: https://gcc.gnu.org/bugzilla/show_bug.cgi?id=95189
	EXTRA_CONF += -DCMAKE_C_COMPILER=gcc-10 -DCMAKE_CXX_COMPILER=g++-10
endif
ifeq ($(shell g++ -dumpversion),7)
	# Needed on Ubuntu bionic to avoid unsupported GCC 7
	EXTRA_CONF += -DCMAKE_C_COMPILER=gcc-8 -DCMAKE_CXX_COMPILER=g++-8
endif

override_dh_auto_configure:
	cmake -B build $(EXTRA_CONF)
	xsltproc --novalid --nonet --path src/qt/res/src debian/flatten.xslt src/qt/res/src/bitcoin.svg > $(CURDIR)/build/bitcoinknots.svg

override_dh_auto_build:
	CMAKE_BUILD_PARALLEL_LEVEL=2 \
	cmake --build build --verbose
	
	mkdir "$(CURDIR)/build/tmp-home"
	TOPDIR="$(CURDIR)" \
	SHARE_EXAMPLES_DIR="$(CURDIR)/build" \
	HOME="$(CURDIR)/build/tmp-home" \
	contrib/devtools/gen-bitcoin-conf.sh
	
	mkdir -p build/completions/bash build/completions/zsh
	test/functional/tool_cli_completion.py \
		--configfile build/test/config.ini \
		--bash-completion build/completions/bash/bitcoin-cli \
		--zsh-completion build/completions/zsh/_bitcoin-cli \
		--overwrite

override_dh_auto_install:
	DESTDIR="$(CURDIR)/debian/tmp" \
	cmake --install build
	rm -vf "$(CURDIR)"/debian/tmp/usr/bin/test_*  # run, but not packaged

override_dh_auto_test:
	ctest --test-dir build

override_dh_missing:
	dh_missing --fail-missing

# No SysV or Upstart init scripts included
override_dh_installinit:
	dh_installinit \
		--noscripts

# Don’t enable service by default
override_dh_systemd_enable:
	dh_systemd_enable \
		--no-enable

# Restart after upgrade
override_dh_systemd_start:
	dh_systemd_start \
		--restart-after-upgrade
